.dashBoard-header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;

    .online {
        min-height: 15px;
        min-width: 15px;
        border-radius: 50%;
        background-color: rgb(111, 185, 0);
    }


    button {
        border-radius: 10px;
        height: 40px;
        font-size: 12px;
    }

    h3 {
        font-size: 16px;
    }

}



.options {
    display: flex;
    gap: 5px;

    img {
        object-fit: cover;
    }

    .logout {
        background-color: transparent;
        color: white;
        border: none;

        img {
            height: 40px;
            object-fit: cover;
        }

        &:hover {
            animation: wiggle 0.5s ease-in-out;
        }
    }

    .preferences {
        background-color: transparent;
        border: none;
        color: white;

        img {
            height: 40px;
        }

        &:hover {
            animation: wiggle 0.5s ease-in-out;
        }
    }
}