.overlay {
    position: absolute;
    top: 0px;
    min-height: 100%;
    background-color: transparent;
    z-index: 2;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    



    .modal {
        width: 40vh;
        background-color: rgba(255, 255, 255, 0.969);
        min-height: 45vh;
        
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        position: relative;
        
        

        img{
            height: 60px;
        }

        button {
            
            
            max-width: 40vh;
            color: white;
            font-size: large;
            border: none;
            border-radius: 5px;
            min-height: 4vh;
            background-color: #fe4a69;
            min-width: 15%;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                background-color: #bd364d;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            
            height: 25vh;
            
            align-items: center;
            justify-content: center;

            input {
                background-color: transparent;
                border: none;
                border-bottom: 2px dashed #fe4a69;
                height: 5vh;
                font-size: larger;
                color: #fe4a69;



                button {
                    color: white;
                    font-size: larger;
                    border: none;
                    border-radius: 5px;
                    min-height: 4vh;
                    background-color: #fe4a69;
                    min-width: 15%;
                    
                    cursor: pointer;

                    &:hover {
                        background-color: #bd364d;
                    }
                }
            }

            textarea:focus, input:focus{
                outline: none;
            }
        }
    }
}

