.more-info-container {
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 0px;
    animation: slide-in 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards,
        wiggle 0.5s ease-in-out;


    .card-info {
        background-color: white !important;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid rgb(255, 255, 255);
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 20vw;
        width: 20vw;
        min-width: 20vw;
        height: 70vh;


        img {
            max-height: 50vh;
            height: 60vh;
            max-width: 30vw;
            width: 30vw;
            min-width: 30vw;
            object-fit: cover;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }
    }


    /* Hide the scrollbar in all webkit-based browsers */



}

.card:-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

@media screen and (max-width: 480px) {
    .more-info-container {
        min-width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 60vh;
        color: #e84379;
        max-height: 100vh;
        height: auto;

        .card-info {
            background-color: white !important;

            font-size: 18px;
            border: 1px solid rgb(255, 255, 255);
            overflow: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 70vw;
            width: 70vw;
            min-width: 70vw;
            max-height: 49vh;


            img {
                max-height: 30vh;
                max-width: 70vw;
                width: 70vw;
                min-width: 70vw;
            }

            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }
        }


        /* Hide the scrollbar in all webkit-based browsers */



    }

    .card:-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

}